.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid blue 2px;
  margin-top: 80px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(87, 133, 133);
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
