.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid blue 2px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: darkcyan;
}

.user {
  position: absolute;
  width: 75px;
  height: 20px;
  background-color: blue;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 6px;
  background-color: red;
}
